.entire {
  line-height: 2;	
}

.headerPic {
opacity: 80% ;	
}

/* link colors */

.links a:link {
color: red; 	
}

.links a:hover {
color: blue; 	
}


/* bolden and increase the size of music can */

.musicCan{
font-size: 35px !important;
	text-decoration: underline !important;
	padding: 15px !important;
}

/* the next 4 modifications are for picture opacity */

.circuit {
position: center;
	opacity: 80%;
	}

.hard{
position: center;
	opacity: 80%;
	}

.guitar{
position: center;
	opacity: 80%;
		
}

.me{
position: center;
	opacity: 80%;
	
}

/* decrease the size of the page */

.wrapper {
width: 40%;	
	margin: auto;
}

/* sets the font size, font, and color */

body{
  color: black;
  font-family: 'Times New Roman', Times, serif;
  font-size: 24px;
  text-align: center;
	}

/* putting the name within the picture in the header */

.name{
position: absolute;
       top: 90px;
	right:1290px;
	font-weight: bold; 
	font-style: italic;
	font-size: 35px;
}

/* a way to divide content */

hr {
  width: 400px;
	height: 100px;
	border: none;
  margin-top: 0px;
  margin-bottom: 0px;
	background-image: url("images/hr-jehzeel-laurente-2.png");
}

/* confirming everything is centered and is padded */
.header-container {
  position: center;
  text-align: center;
}

.body-left {
  position: center;
	
text-align: center;
  color: black;
}

.about-me{
position: center;
  text-align: center;
	padding: 50px;
 }

.body-middle {
  position: relative;
  text-align: center;
  color: black;
	padding: 50px;
}

.music{
position:relative;
	text-align:center;
	color:black;
}

.body-right {
  position: relative;
	
  text-align: center;
  color: black;
}


.footer {
  position: bottom;
  text-align: center;
  color: black;
	padding: 50px;
}
