
.name{
position: absolute;
       top: 150px;
	right:3000px;
}
.contribution {
position: absolute;
	top 300px;
	right:1250px;
}
hr {
  width: 420px;
	height: 32px;
	width: 50px;
	border: none;
  margin-top: 30px;
  margin-bottom: 20px;

}

.header-container {
  position: center;
  text-align: center;
}

.body-left {
  position: left;
  text-align: left;
  color: black;
}

.about-me{
position: center;
  text-align: center;
 
}

.center-header-text{
}

.body-middle {
  position: center;
  text-align: center;
  color: black;
}

.music{
position:right;
	text-align:right;
	color:black;
}

.body-right {
  position: right;
  text-align: right;
  color: black;
}


.footer {
  position: middle;
  text-align: center;
  color: black;
}
