.textWrapper{
width: 50%;	
}

.myFace{
opacity: 80%;	
}
.wrapper {
width: 20%;	
	margin: auto;
}

h1{
font-family: "Stencil Std", fantasy ;
	font-size: 50px;
	text-align:center;
}

body{
  color: black;
  font-family: 'Times New Roman', Times, serif;
  font-size: 24px;
  text-align: center;
	position:center;
	
}

.name{
position: absolute;
       top: 100px;
	right:1320px;
}
hr {
  width: 400px;
	height: 100px;
	border: none;
  margin-top: 0px;
  margin-bottom: 0px;
	background-image: url("images/hr-jehzeel-laurente-2.png");
}
.header-container {
  position: center;
  text-align: center;
}

.body-left {
  position: center;
	margin:10px;
	padding: 10px;
text-align: center;
  color: black;
}

.about-me{
position: center;
  text-align: center;
	padding: 50px;
 
}

.center-header-text{
}

.body-middle {
  position: center;
	margin: 10px;
  text-align: center;
  color: black;
	padding: 10px;
}



.body-right {
  position: center;
margin: 10px;
	padding: 10px;
  text-align: center;
  color: black;
}


.footer {
  position: bottom,left;
  text-align: center;
  color: black;
	padding: 50px;
}

.textContainerRight {
  float: left;
  width: 300px;
  margin-left: 20px;
  margin-top: 20px;
}

.pageContainerRight {
  width: 940px;
  margin: 20px auto 0 auto;
  padding: 20px;
  background-color: #fff;
}

.pageContainerRight:after { 
  content: " ";
  display: table;
  clear: both;
}



.textContainerLeft {
  float: left;
  width: 300px;
  margin-left: 20px;
  margin-top: 20px;
}

.pageContainerLeft {
  width: 940px;
  margin: 20px auto 0 auto;
  padding: 20px;
  background-color: #fff;
}

.pageContainerLeft:after { 
  content: " ";
  display: table;
  clear: both;
}



.textContainerMiddle {
  float: left;
  width: 300px;
  margin-left: 20px;
  margin-top: 20px;
}

.pageContainerMiddle {
  width: 940px;
  margin: 20px auto 0 auto;
  padding: 20px;
  background-color: #fff;
}

.pageContainerMiddle:after { 
  content: " ";
  display: table;
  clear: both;
}
